body {
    margin: 0;
}

#content {
    margin: auto;
    width: 600px;
}

h1 {
    margin-top: 1.25em;
    margin-bottom: 0.25em;
    font-size: 1em;
}

#status {
    width: 100%;
}

#error.visible {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

#error {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
    background-color: lightpink;
    padding: 5px;
}

#refresh {
    float: right;
}

.worker-label {
    display: block;
}

.worker-progress {
    display: block;
}

progress {
    text-align: center;
    height: 1.5em;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    position: relative;
}

progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;

    position: absolute;
    left: 0;
    right: 0;
}

progress::-webkit-progress-bar {
    background-color: lightgray;
}

progress::-webkit-progress-value {
    background-color: powderblue;
}

progress::-moz-progress-bar {
    background-color: powderblue;
}

#footer {
    position: fixed;
    bottom: 0;
    padding: 8px;
    text-align: center;
    width: 600px;
    background-color: aliceblue;
}

#footer-span {
    height: 40px;
}

th, td {
    text-align: center;
    padding: 5px;
}

th.name, td.name {
    text-align: left;
}

table tr:nth-child(odd) td {
    background-color: aliceblue;
}

table tr:nth-child(even) td, table tr th {
    background-color: lightyellow;
}
